
<div class="detail-banner">
    <div class="container">
        <div class="detail-banner-left">

            <h2 class="detail-title">
                {{coffeeshop.name | capitalize}}
            </h2>

            <div class="detail-banner-address">
                <i class="fa fa-map-o"></i> {{coffeeshop.latitude}}, {{coffeeshop.longitude}}
            </div>

            <div class="detail-banner-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>

            <div class='btn btn-default' ng-if="isAuthenticated()" ng-click='openWriteReviewModal()'>
                <i class="fa fa-star"></i> Write Review
            </div>
            <div class='btn btn-default' ng-if="!isAuthenticated()" ui-sref='login'>
                <i class="fa fa-key"></i> Log in to Review
            </div>

        </div>
    </div>
</div>
<!-- All Ratings -->
<div class='row'>
    <div class='col-sm-12' ng-repeat='r in ratings'>
        <pre>{{r | json}}</pre>
    </div>
</div>

<div class='row' ng-if="isAuthenticated()">
	<pre>{{coffeeshop | json}}</pre>

    <h3>Edit Coffeeshop (admin only)</h3>
	<form class='form' ng-submit='updateCoffeeshop()'>
		<label>Name</label>
		<input type='text' ng-model='coffeeshop.name' class='form-control' />
		<label>Lat</label>
		<input type='text' ng-model='coffeeshop.lat' class='form-control' />
		<label>Long</label>
		<input type='text' ng-model='coffeeshop.long' class='form-control' />

		<div class='btn btn-default btn-lg'>Update</div>
	</form>
</div>