<form>
	<div class="modal-header">
		<h1>Write a Review</h1>
	</div>
	<div class="modal-body">
		<span ng-repeat="rating in ratings">
			<p class='star-rating'>{{rating.current}} out of {{rating.max}} stars</p>
        	<div star-rating rating-value="rating.current" max="rating.max" ></div>
        </span>

		<textarea class='form-control' placeholder='Write your review here..'></textarea>
	</div>
	<div class="modal-footer">
		<input type='submit' value='Publish' class='btn btn-warning'>
	</div>
</form>